body {
    background-color: #0E4E1D;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.flex-card {
    display: flex;
}

.score {
    width: 100%;
    margin: 0 auto;
}

.title {
    background-color: black;
    border: solid 1px green;
    width: 30%;
    border-radius: 20%;
    text-align: center;
    margin: 0 auto;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.plateau {
    margin-top: -8%;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: black !important;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


#scoreboard {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#scoreboard td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#scoreboard tr:nth-child(even){background-color: #f2f2f2;}

#scoreboard tr:hover {background-color: #ddd;}

#scoreboard th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0E4E1D;
    color: white;
}